ErrorDocument 404 /nicht-gefunden.html

Redirect 301 /gaestebuch/ /index.html
Redirect 301 /beitreten/ /index.html
Redirect 301 /category/berichte/ /veranstaltungen.html
Redirect 301 /satzung/ /satzung.html
Redirect 301 /impressum/ /impressum.html
Redirect 301 /datenschutzerklaerung/ /datenschutzerklaerung.html